<div class="container text-center">
    <div class="d-flex justify-content-center align-items-center bingo-title">
        <div>
            <h1>The wannah bingo board</h1>
        </div>
        <div>
            <p>We will continue to update this board throughout our trip. Whenever we accomplish something on this board, we will post and update the board accordingly!</p>
        </div>
    </div>
    <div class="bingo-board">
        {{#each bingo_data}}
            {{!-- <div class="bingo-cell {{#if this.completed}}completed{{/if}}">
                <h2>{{this.body}}</h2>
            </div> --}}
            {{#if this.completed}}
                <a href="/blog?post_id={{this.post_id}}" class="bingo-cell completed">
                    <h2>{{this.body}}</h2>
                </a>
            {{else}}
                <div class="bingo-cell">
                    <h2>{{this.body}}</h2>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>