<style>
    .main-feed {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .post-card {
        width: 55%; /* Adjust as needed */
        margin-bottom: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    .post-content {
        padding: 0px;
    }

    .image-container {
        width: 475px; 
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }

    #post-photo {

        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 15px;
        overflow: hidden;
    }

    .caption {

    }

    .post-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
    }

    .like-button,
    .action-button {
        padding: 4px 8px;
        cursor: pointer;
        font-size: 0.8em;
    }

    .comments {
        height: 375px;
        margin-top: 8px;
    }

    .comment-content {
        border-top: 1px solid #ccc;
        padding: 8px;
    }

    .username {
        font-weight: bold;
        margin-bottom: 4px;
        font-size: 0.9em;
    }

    .date {
        color: #777;
        font-size: 0.8em;
        margin-top: 15px;
        font-weight: normal;
    }
    .heart-btn {
    width: 10px;
    height: 10px;
    border: none;
    position: relative;
    transform: rotate(-45deg);
}

.heart-btn::before,
.heart-btn::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 0;
    transform: translate(0, 0);
}

.red-heart {
    background-color: red;
}

.red-heart::before,
.red-heart::after {
    background-color: red;
}

.white-heart {
    background-color: white;
    border: 2px solid black;
}

.white-heart::before,
.white-heart::after {
    background-color: white;
    border: 2px solid black;
}

.heart-btn::before {
    left: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.heart-btn::after {
    left: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


    #author-link:hover {
        text-decoration: underline;
    }
    
</style>


<!-- Main Feed -->
<div class="main-feed">
    <p>{{> message}}</p>
    {{#each posts}}
    
    <div class="post-card" id="post-{{post_id}}">
        <div class="post-header">
            <div class="row" style="padding-left: 20px;">
                <form action="/user" method="GET">
                        <input type="hidden" name="username" value={{author}}>
                        {{#ifCond ../username author }}
                            <input type="hidden" name="self" value="true">
                        {{/ifCond}}
                        <button class="btn" id="author-link"><strong>{{author}}</strong></button>
                </form> 
            </div>   

            <p class="date">{{fixDate date_created}}</p>

        </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8", style="padding: 0px 0px 0px 0px">
    <!-- Post Card -->
                <div class="card-body" id="post-content">
            
                <div id="carousel-{{post_id}}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {{#each images}}
                        <div class="carousel-item {{#if @first}}active{{/if}} image-wrapper">

                                <img src="{{this.filepath}}" class="d-block w-100" alt="Posted Photo">

                        </div>
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-{{post_id}}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-{{post_id}}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    </div>
                    <br>
                    <div class="container" style="padding:0;">
                    {{#if ../username}}
                    <form action="/like-post" method="POST">
                        <input type="hidden" name="post_id" value={{post_id}}> 
                        <input type="hidden" name="username" value={{../username}}> 

                        {{#if liked}}
                            <button class="btn btn-link"><i id="heart" class="fa fa-heart fa-6" style="color: red; font-size:1.5em;"></i></button><span>• &nbsp;&nbsp;{{like_count}} likes</span>
                        {{else}}
                            <button class="btn btn-link">
                            <i id="heart" class="far fa-heart" style="color: red;font-size:1.5em;"></i></button><span>• &nbsp;&nbsp;{{like_count}} likes</span>
                        {{/if}}

                    </form> 
                    {{else}}
                        <div class="container" style="margin-bottom: 10px;">
                        <i id="heart" class="far fa-heart" style="color: red;font-size:1.5em;"></i></button><span>&nbsp;&nbsp;• &nbsp;&nbsp;{{like_count}} likes</span>
                        </div>
                        
                    {{/if}} 
                    {{#if ../admin}}
                        <form action="/delete-post" method="POST">
                            <input type="hidden" name="post_id" value={{post_id}}> 
                            <input type="hidden" name="username" value={{../username}}> 
                            <button class="btn btn-link" style="margin-top: -5px;"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    {{/if}}
                    
                    <div class="container" style="margin:0px 10px 0px 10px">
                    <form action="/user" method="GET" class="row">
                        {{#ifCond ../username author }}
                            <input type="hidden" name="self" value="true">
                        {{/ifCond}}
                        <p><button class="btn" id="author-link" style="margin: 0; padding: 0; display: inline-block; border: 0px; vertical-align:top;"><strong>{{author}}:</strong></button><span style="font-weight: normal; text-align: left;"> {{caption}}</span></p>
                        <input type="hidden" name="username" value={{author}}>
                            <p style="margin-top: 5px;">
                            </p>
                        
                    </form>
                    </div> 
                    </div>
                    
            <!-- Like, Comment, Repost Buttons -->
                </div>
            </div>
    <div class="col-sm-4", style="padding: 0px 0px 5px 0px; overflow:auto">
    <!-- Post Card -->
       <!-- Comments -->
       <br>
       <h7>Comments: </h7>
        <div class="comments", style="overflow:auto">
            {{#each comments}}
                {{#if ../../admin}}
                    <div class="comment-content">
                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="username">{{this.username}} <span class="date">{{fixDate this.date_created}}</span></h4>
                                <p class="comment">{{this.body}} </p>
                            </div>

                            <div class="col-sm-3">
                                {{#if this.comment_id}}
                                <form action="/delete-comment" method="POST">
                                <input type="hidden" name="comment_id" value={{this.comment_id}}> 
                                <button class="btn btn-link" style="margin-top: -5px;"><i class="fas fa-trash-alt"></i></button>
                                </form>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{else ifCond ../../username this.username}}
                    <div class="comment-content">
                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="username">{{this.username}} <span class="date">{{fixDate this.date_created}}</span></h4>
                                <p class="comment">{{this.body}} </p>
                            </div>

                            <div class="col-sm-3">
                                {{#if this.comment_id}}
                                <form action="/delete-comment" method="POST">
                                <input type="hidden" name="comment_id" value={{this.comment_id}}> 
                                <button class="btn btn-link" style="margin-top: -5px;"><i class="fas fa-trash-alt"></i></button>
                                </form>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                
                {{else}}
                <div class="comment-content">
                            <h4 class="username">{{this.username}} <span class="date">{{fixDate this.date_created}}</span></h4>
                            <p class="comment">{{this.body}} </p>
                </div>

                {{/if}}

            
            {{/each}}
  
        </div>
        
        {{#if ../username}}
        <br>
        <form action="/comment-post" method="POST">
            <input type="hidden" name="post_id" value={{post_id}}> 
            <input type="hidden" name="username" value={{../username}}> 
            <input type="text" id="comment" name="comment" required placeholder="Add comment...">    
                    
            <button class="btn btn-info btn-sm" style="margin-top: -3px;"><strong>Post</strong></button>                
        </form>
        {{else}}
    
            <input type="text" id="comment" name="comment" required placeholder="Login to comment...">                 
            <button class="btn btn-info btn-sm" style="margin-bottom: 3px;"><strong>Post</strong></button>
        {{/if}}

    </div>
    </div>
    </div>
    </div>
    
    {{/each}}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        console.log("here wesley look here");
        const params = new URLSearchParams(window.location.search);
        console.log(params.get('post_id'));
        const post_id = params.get('post_id');
        if (post_id) {
            console.log("working so far HAKJDFHSIKFHA")
            const postElement = document.getElementById(`post-${post_id}`);
            if (postElement) {
                postElement.scrollIntoView({behavior: "smooth"});
            }
        }
    });

</script>
